/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: #ff8c00;
    /* Darker orange background */
    color: white;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #ffa500;
    /* Lighter orange header */
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav ul li a {
    font-size: 24px;
    text-decoration: none;
    color: white;
}

main {
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}